.formWrapper {
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;              /* two column display for input + button */
    flex-wrap: wrap;
}
/* Shared by the input and button so they are the same size and style */
.formInput {
    padding: 12px 20px;         
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
}
.formTextInput {
    flex: 70%;                  /* take up most of the available space */
    /* background-color: #232323; */
    background-color: #FBFBF8;
    color: #343D48;
}
.formSubmitButton {
    flex: 30%;                  /* take up the rest of the space */
    /* background-color: #7476ED; */
    background-color: #7476ED;
    color: white;
}
.error {
    color: red;
}

.subtitle {
    flex: 100%;
    font-size: 1.2rem;
    font-weight: 250;
    color: #7476ED;
}
